@media (max-width: 768px) {
    .hamburger {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #604829;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;

        pointer-events: none;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    /* Estilos ativos */

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .container-parallax1 h1 {
        font-size: 50px;
    }

    .container-texto {
        padding: 40px 20px;
        font-size: 14px;
    }

    .container-texto h2 {
        font-size: 20px;
    }

    .container-parallax2 h3,
    .container-parallax3 h3 {
        width: 90%;
        font-size: 18px;
    }

    .container-parallax4 h2 {
        width: 90%;
        font-size: 20px;
    }

    .container-parallax4 {
        height: 100vh;
    }


    .container-parallax4 iframe {
        width: 90%;
        height: 400px;
    }

    .contatos {
        width: 90%;
        font-size: 14px;
        position: absolute;
        top: 80%;
        right: 0;
        left: 0;
        margin: auto;
    }

    .container-parallax5 {
        height: 85vh;
    }

    .container-parallax5 h2 {
        font-size: 20px;
        top: 11%;
    }

    .lista-horarios {
        width: 90%;
        bottom: 10%;
    }

    .lista-horarios li h3 {
        font-size: 18px;
    }

    .lista-horarios li div {
        width: 45%;
    }

    .container-rodape {
        padding: 10px 0;
        font-size: 9px;
    }

    .container-rodape a {
        display: none;
    }
}