@media (max-width: 768px) {
    .container-topo {
        height: 8vh;
        
    }

    .container-topo img {
        width: 40px;
        left: 10%;
        position: relative;
        top: 10px;
        
    }

    .container-topo div {
        top: 18px;
        right: 10%;
    }

    .container-topo div a {
        display: none;
    }

    .icon-menu-mobile {
        display: block;
        top: 10px;
    }

    .icon-menu-mobile button {
        background-color: transparent;
        border-color: transparent;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .container-parallax1 h1 {
        font-size: 50px;
    }

    .container-texto {
        padding: 40px 20px;
        font-size: 14px;
    }

    .container-texto h2 {
        font-size: 20px;
    }

    .container-parallax2 h3,
    .container-parallax3 h3 {
        width: 90%;
        font-size: 18px;
    }

    .container-parallax4 h2 {
        width: 90%;
        font-size: 20px;
    }

    .container-parallax4 {
        height: 100vh;
    }
    

    .container-parallax4 iframe {
        width: 90%;
        height: 400px;
    }

    .contatos {
        width: 90%;
        font-size: 14px;
        position: absolute;
        top: 80%;
        right: 0;
        left: 0;
        margin: auto;
    }

    .container-parallax5 {
        height: 85vh;
    }

    .container-parallax5 h2 {
        font-size: 20px;
        top: 11%;
    }

    .lista-horarios {
        width: 90%;
        bottom: 10%;
    }

    .lista-horarios li h3 {
        font-size: 18px;
    }

    .lista-horarios li div {
        width: 45%;
    }

    .container-rodape {
        padding: 10px 0;
        font-size: 9px;
    }

    .container-rodape a {
        display: none;
    }
}